@use '../core/variables' as *;

.calc-field {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.375em;
  height: 104px;
}
.calc-body {
  display: grid;
  gap: 0.735rem;
  padding: 0.75em;
  grid-template-columns: repeat(4, 1fr);
  button {
    --border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    padding: 8px;
  }
}
